---
// Import necessary types and packages
import { getCollection, type CollectionEntry } from "astro:content";
import InteriorContent from "../components/InteriorContent.astro";
import InteriorHero from "../components/InteriorHero.astro";
import DefaultLayout from "../layouts/Default.astro";
import { Card } from "../components/Card";
import { Tag } from "../components/Tag";
import { getPostColorFromPositionType, getPostColorFromPositionCategory } from "../utils/postUtils";
import { motion } from "framer-motion";

// Define the type for positions
type Position = CollectionEntry<'positions'>['data'];

// Fetch the positions from the collection
const positions: CollectionEntry<'positions'>[] = await getCollection('positions');
---

<DefaultLayout>
    <InteriorHero>
        <p class="uppercase font-extrabold text-center text-zinc-500 -tracking-wider">Join the team</p>
        <h1 class="font-heading font-black text-5xl md:text-6xl lg:text-7xl text-center mt-4">We are hiring</h1>
        <p class="text-center text-xl md:text-2xl mt-6 max-w-xl mx-auto text-zinc-400">
            We are always looking for talented individuals passionate about building blockchain products that make a difference.
        </p>
    </InteriorHero>

    <InteriorContent>
        <div class="flex flex-col gap-12">
            {
                positions.map(({ data: { title, type, description, category, remote } }) => (
                    <motion.a 
                        client:load 
                        initial={{ opacity: 0, y: 20 }} 
                        whileInView={{ opacity: 1, y: 0 }} 
                        viewport={{ once: true, amount: 0.5 }} 
                        transition={{ duration: 0.5, ease: "easeIn" }} 
                        href="/contact"
                    >
                        <Card color={getPostColorFromPositionCategory(category)} buttonText="Apply Now">
                            <div class="flex items-center gap-3">
                                {remote && <Tag>Remote</Tag>}
                                <Tag color={getPostColorFromPositionType(type)}>{type}</Tag>
                            </div>
                            <h2 class="text-3xl font-black font-heading mt-6">{title}</h2>
                            <p class="text-xl text-zinc-400 mt-4">{description}</p>
                        </Card>
                    </motion.a>
                ))
            }
        </div>
    </InteriorContent>
</DefaultLayout>
